<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReqResLoginDetails</key>
	<string>https://reqres.in/api/login</string>
	<key>ReqresUsersDetails</key>
	<string>https://reqres.in/api/users?page=1&amp;per_page=12</string>
	<key>ReqresColourDetails</key>
	<string>https://reqres.in/api/unknown?per_page=12</string>
	<key>ReqresSubmitDetails</key>
	<string>https://reqres.in/api/users</string>
</dict>
</plist>
